body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
    text-align: center;
    background-image: url('GKB.png');
    background-size: cover;
    background-position: center;
}

header {
    background-color: #083D62;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #1A2C43;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #ee9908;
    padding: 10px 15px;
    border-radius: 5px;
}

h2 {
    color: white;
    text-align: center;
    margin: 30px 0 10px;
    padding: 20px;
}

.form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    flex: 1 1 350px;
    text-align: left;
}

.form label {
    display: block;
    margin: 10px 0 5px;
    text-align: left;
}

h3 {
    color: #1A2C43;
    font-size: 20px;
    margin-top: 0;
}

.form input, .form select, .form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form input, form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

section {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.pilihan:hover {
    background-color: #083D62;
}

.form button {
    background-color: #2377b4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.form button:hover {
    background-color: #1A2C43;
}

footer {
    background-color: #083D62;
    color: white;
    text-align: center;
    padding: 15px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}